<!DOCTYPE HTML>
%html{lang: "ru"}
  %head
    %title Крестики нолики
    %meta{content: "text/html", charset: "utf-8"}
    %link{href: "_/styles/style.min.css", rel: "stylesheet", type: "text/css"}
    %script{src: "_/javascripts/main.min.js", type: "text/javascript"}
  %body{id: "home"}
    %h1Крестики нолики. 1 игрок - Х; 2 игрок - О;